
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Include little icon in the link -->
    <link rel="shortcut icon" href="static/assets/favicon.ico" crossorigin="anonymous" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/custom.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"></script>
    <script type="text/javascript" src="static/js/classes.js"></script>
    <script type="text/javascript" src="static/js/main.js"></script>


    <title>GTB</title>
  </head>

  <body onload="loadModel()">
    <div class="container">
        <div class="row">
          <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
              <div class="card-img-left d-none d-md-flex">
                 <!-- Background image for card set in CSS! -->
              </div>

              <div class="card-body">
                <!-- <h5 class="card-title text-center font-weight-bold">GTB PREDICTION</h5> -->
                

                  <h5 class="card-title text-center font-weight-bold">GTBR UPLOAD</h5>

                  <div class="mx-auto" style="width: 350px;"><img src="/static/asset/slide.jpeg" class="img-fluid" alt="...">
                  </div>

<!--src="/static/asset/microscope.jpeg" -->



                <!-- <div class="row">    








                  <br>
                   Welcome to Gastric Tissue Biopsy, your AI-driven pathologist!						<br>
                </div> -->

                <hr>
                <div class="row">
                  
                  <b style="color: #000000; font-size: 15px;">successfully uploaded! </b> 
                </div>
                
                  <div class="row">
                  
                   Please click PREDICT BUTTON to see the possibility that cancer cells exist!  
                </div>

                <div id="progress-box" style="display: none; text-align: center;">
                  <img src="static/assets/loading.gif" id="model-load" width="50px" />
                  <p style="color: black; font-size: small;">Loading model...</p>
                </div>
                  <hr>
                  <div class="row" style="display: none;" id="output-row">

                    <div class="col">
                      <div class="out-box" id="test-image-box" style="display: none;">
                        <br />
                        <img id='test-image' style="max-width: 300px; max-height: 250px"/>
                        <p id="prediction"></p>
                      </div>
                    </div>
                    <div class="col">
                      <br />
                      <div id="progress-prediction" style="display: none; text-align: center;">
                        <img src="static/assets/loading.gif" width="50px" />
                      </div>
                      <div class="out-box" id="predict-box" style="display: none;">
                        <p><b style="color: #000000; font-size: 15px;">Top-5 Predictions</b></p>
                        <ul id="predict-list">
                        </ul>
                      </div>
                    </div>
                  </div>
                  
                  <br />


                  <!-- <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="button">Button</button>
                    <button class="btn btn-primary" type="button">Button</button>
                  </div>
                 

                  <div class="d-grid gap-2">
                    <button type="button" class="btn btn-secondary"><a href="/prediction/?url={{ url }}">PREDICT</a> </button>

                  </div>
                  


                  <div class="d-grid gap-2">
                    <a href="/prediction/?url={{ url }}"><button type="button" class="btn btn-secondary">PREDICT </button></a>

                  </div>
                  




                  <a href="/prediction/?url={{ url }}">PREDICT</a> 



 -->


                  <div class="row">
                    <div class="col-6">
                      <a class="btn btn-sm btn btn-outline-secondary btn-block text-uppercase" href="/prediction/?url={{ url }}" role="button">PREDICT</a>
                    </div>

                    <div class="col-6">
                      <a class="btn btn-sm btn btn-outline-secondary btn-block text-uppercase" href="/" role="button">MAIN-PAGE</a>
                    </div>
                  </div>






                  
                  
                 <!-- <form action="/prediction/">
    <input type="submit" value="PREDICT" />
</form>  -->
                  
                  
                  
                  <!-- <hr>
                  <div class="row">
                    <div class="col-6">
                      <a class="btn btn-sm btn btn-outline-secondary btn-block text-uppercase" href="/dataset" role="button">Dataset Info</a>
                    </div>
                    <div class="col-6">
                      <a class="btn btn-sm btn btn-outline-secondary btn-block text-uppercase" href="/model" role="button">Model Info</a>
                    </div>
                  </div>
                  <br>
                  <small>
                    To get information about the underlying data press <b style="color: #000000; font-size: 14px;">Dataset Info</b>
                    <br>
                    To get information about the Artificial Neural Network press <b style="color: #000000; font-size: 14px;">Model Info</b>
                  </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      </body>
      </html> -->
















<!-- 

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>gastric cancer prediction</title>
</head>

<body>
  <h1>{{ title }}</h1>
  <p>This is a <br>line break</p>
  <a href="https://www.cancerimagingarchive.net/">Go to the cancer image site!</a>
  <br>
  <a href="/prediction">Get gastric prediction</a>
</body>

</html>
 -->





<!-- <img      
     src='G:\BaiduNetdiskDownload\train\cancer_generated\Anhang5.jpg'
     alt="successfully uploaded"> -->


<!-- 
     <div class="row">
                   
      <div class="col-6">
                            <a class="btn btn-sm btn btn-outline-secondary btn-block text-uppercase" href="/upload2" role="button">LOAD-IMAGE</a>
                          </div>
      
                          <div class="col-6">
                            <a class="btn btn-sm btn btn-outline-secondary btn-block text-uppercase" href="/" role="button">MAIN-PAGE</a>
                          </div>
                          
                        </div>
       -->
      
      
      
      
      
                        
                        
                       <!-- <form action="/prediction/">
          <input type="submit" value="PREDICT" />
      </form>  -->
                        
                        
                        
                        <hr>
                        <div class="row">
                          <div class="col-6">
                            <a class="btn btn-sm btn btn-outline-secondary btn-block text-uppercase" href="https://github.com/bd-z" role="button">CONTACT</a>
                          </div>
                          <div class="col-6">
                            <a class="btn btn-sm btn btn-outline-secondary btn-block text-uppercase" href="https://www.cancerimagingarchive.net/" role="button">TCIA</a>
                          </div>
                        </div>
                        <br>
                        <!-- <small>
                          To contact the author press <b style="color: #000000; font-size: 14px;">CONTACT</b>
                          <br>
                          To get information about the cancer images press <b style="color: #000000; font-size: 14px;">TCIA</b>
                        </small> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </body>
            </html>